<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    failOnNotice="true"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="false"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>packages/core/tests/Unit</directory>
            <directory>packages/symfony-bundle/tests/Unit</directory>
            <directory>packages/adapter-messenger/tests/Unit</directory>
            <directory>packages/audit/tests/Unit</directory>
            <directory>packages/easyadmin-filter-bridge/tests/Unit</directory>
            <directory>packages/filter/tests/Unit</directory>
            <directory>packages/widgets/tests/Unit</directory>
            <directory>packages/workflow-bridge/tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>packages/symfony-bundle/tests/Functional</directory>
            <directory>packages/adapter-messenger/tests/Functional</directory>
            <directory>packages/audit/tests/Functional</directory>
            <directory>packages/easyadmin-filter-bridge/tests/Functional</directory>
            <directory>packages/filter/tests/Functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/core/src</directory>
            <directory>packages/symfony-bundle/src</directory>
            <directory>packages/adapter-messenger/src</directory>
            <directory>packages/audit/src</directory>
            <directory>packages/easyadmin-filter-bridge/src</directory>
            <directory>packages/filter/src</directory>
            <directory>packages/widgets/src</directory>
            <directory>packages/workflow-bridge/src</directory>
        </include>
    </source>
</phpunit>
